<div class="hero">
    <div class="container hero-body">
        <div class="row align-items-center">
            {% if page.hero_image %}
            <div class="col-12 col-sm-3">
                <img src="{{ page.hero_image }}"
                     class="hero-image {{ page.hero_class }}"
                     alt="{{ site.title }}">
            </div>
            {% endif %}
            <div class="col text-center">
                <h1>{{ page.title }}</h1>
                <h2>{{ page.subtitle }}</h2>
            </div>
        </div>
    </div>

    {% if page.hero_waves %}
    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
    {% endif %}
</div>