<div class="post-card card">
    <div class="card-header bs-primary">
        <div class="post-card-image">
            <img src="{{ include.post.image }}">
        </div>
    </div>
    <div class="card-body">
        <a class="card-title"
           href="{{ site.baseurl }}{{ include.post.url }}">
            <h5>{{ include.post.title}}</h5>
        </a>
        <h6>
            <small>Published: {{ include.post.date | date: "%b %-d, %Y" }}</small>
        </h6>
        {% if include.post.summary %}
        <p class="card-text">
            {{ include.post.summary | markdownify }}
        </p>
        {% else %}
        <p>{{ include.post.excerpt }}</p>
        {% endif %}
    </div>
    <div class="card-footer">
        <a href="{{ site.baseurl }}{{ include.post.url }}"
           class="btn btn-primary">See more</a>
    </div>
</div>