.post-card {
    .card-header {
        background-color: var(--bs-primary);
        position: relative;
        padding: 0;
        height: 50px;
    }
    .post-card-image {
        width: 50px;
        height: 50px;
        border: 2px solid var(--bs-light);
        transform: rotate(45deg);
        border-radius: 5px;
        background: var(--bs-dark);
        overflow: hidden;
        position: absolute;
        top: 25px;
        left: 25px;
        img {
            position: absolute;
            top: -25%;
            left: -25%;
            width: 150%;
            height: 150%;
            transform: rotate(-45deg);
        }
    }
    .card-body {
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: 300px auto;
        padding-top: calc(1em + 25px);
        .card-title {
            color: var(--bs-dark);
            text-decoration: none;
            &:hover {
                color: var(--bs-primary);
                text-decoration: underline;
            }
        }
    }

    .card-footer {
        background-color: transparent;
        border-top: 0px;
        a {
            float: right;
        }
    }
}
