<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand "
           [routerLink]="['/']">
            AFP
        </a>
        <ul class="navbar-nav">
            @for (item of links; track $index) {
            <li class="nav-item">
                <a [routerLink]="['/' + item.path]"
                   class="nav-link"
                   [routerLinkActive]="'active'">{{ item.label }}</a>
            </li>
            }
        </ul>
        <button type="button"
                title="toggle dark theme"
                (click)="toggleTheme()"
                class="btn rounded-circle">
            <i class="bi text-dark"
               [class.bi-brightness-high]="darkMode"
               [class.bi-brightness-low-fill]="!darkMode"></i>
        </button>
    </div>
</nav>
