---
---

@import "main";

@import "./flag-icons.min.css";
@import "./monokai.css";

:root {
    --primary-h: 355;
    --primary-s: 100%;
    --primary-l: 38%;
    --bs-primary: hsl(var(--primary-h), var(--primary-s), var(--primary-l));
    --bs-light: white;
    --transparency: rgba(0, 0, 0, 0.4);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: absolute;
    width: 100%;
    color: var(--bs-dark);
    background-color: var(--bs-light);
    &::-webkit-scrollbar {
        height: 4px;
        width: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.26);
    }
    &.dark {
        --primary-s: 70%;
        --bs-light: hsl(210, 11%, 16%);
        --bs-dark: hsl(0, 0%, 100%);
        --transparency: rgba(255, 255, 255, 0.4);
    }
}

.main {
    flex: 1;
    padding-top: 16px;
    padding-bottom: 16px;
}

figure {
    display: block;
    position: relative;
    max-height: 400px;
    overflow-y: hidden;
    cursor: pointer;
}

figure:focus {
    max-height: initial;
}

figure img {
    width: 100%;
}

iframe {
    width: 100%;
    min-height: 400px;
}

figure.highlight {
    font-size: 18px;
    pre {
        margin-bottom: 0;
    }
}

.lineno {
    color: grey;
    border-right: 1px solid grey;
    width: 1.5em;
    text-align: center;
}
