<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                Made with ❤ by <a class="text-light"
                   routerLink="''"> {{ '@angelfraga' }} </a>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <br>
                <a class="text-light"
                   target="github"
                   href="https://github.com/angelfraga">
                    <i class="bi bi-github"
                       role="img"
                       aria-label="GitHub"></i>
                </a>
                <a class="text-light"
                   target="linkedin"
                   href="https://www.linkedin.com/in/angel-fraga-parodi">
                    <i class="bi bi-linkedin"
                       role="img"
                       aria-label="Linkedin"></i>
                </a>
                <a class="text-light"
                   target="stackoverflow"
                   href="https://stackoverflow.com/users/5831897/angel-fraga-parodi">
                    <i class="bi bi-stack-overflow"
                       role="img"
                       aria-label="StackOverflow"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                This site is made with <a href="https://analogjs.org/">AnalogJS</a> and hosted by github pages .
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
                © 2021 - 2024
            </div>
        </div>
    </div>
</footer>