---
layout: default
hide_hero: true
---
<div class="container d-flex flex-column">
    <div class="row">
        <div class="col">
            {{ content }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% include pagination.html %}
        </div>
    </div>
    <div class="posts"
         style="--posts-columns: 3">
        {% assign itemsPerPage = 9 %}
        {% assign fromItem = paginator.page | minus: 1 | times: itemsPerPage %}
        {% assign en_posts = site.posts | where: "lang", "en" %}
        {% assign paged_posts = en_posts | slice: fromItem , itemsPerPage %}
        {% for post in paged_posts %}
        {% include post-card.html post=post %}
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-12">
            {% assign totalPages = en_posts.size | divided_by: itemsPerPage %}
            {% include pagination.html pageNumber=paginator.page totalPages=totalPages %}
        </div>
    </div>
</div>